* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-shadow: 0 0 0.4rem #242424;
  background-blend-mode: screen;
  background-color: skyblue;
}

.container {
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider__slides {
  display: flex;
  width: 500%;
  height: 100%;
  transition: all 0.3s ease;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 74vh;
  margin: 1.5rem 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2rem 0.2rem rgba(34, 60, 80, 0.2) inset;
  border-radius: 1rem;
  overflow: hidden;
}

.slide__img {
  align-self: center;
  max-width: 95%;
  max-height: 70vh;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slides__text {
  display: flex;
  width: 500%;
  transition: all 0.3s ease;
}

.slide__content {
  width: 20%;
}

.slide__text {
  width: 90%;
  margin-left: 0.2rem;
}

.slider input {
  display: none;
}

.slider__controls {
  display: flex;
  height: inherit;
  gap: 0.5rem;
  padding: 0.2rem;
  background: skyblue;
}

.controls__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: 1.1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), coral;
  border-radius: 50%;
  box-shadow: 0 0 0.3rem #242424;
  cursor: pointer;
}

.controls__label:hover {
  background: #ffffff;
}

#slide1:checked ~ .content .slider__controls .controls__label:nth-of-type(1),
#slide2:checked ~ .content .slider__controls .controls__label:nth-of-type(2),
#slide3:checked ~ .content .slider__controls .controls__label:nth-of-type(3),
#slide4:checked ~ .content .slider__controls .controls__label:nth-of-type(4),
#slide5:checked ~ .content .slider__controls .controls__label:nth-of-type(5) {
  background: none;
  border: 0.2rem solid coral;
}

#slide1:checked:hover ~ .content .slider__controls .controls__label:nth-of-type(1),
#slide2:checked:hover ~ .content .slider__controls .controls__label:nth-of-type(2),
#slide3:checked:hover ~ .content .slider__controls .controls__label:nth-of-type(3),
#slide4:checked:hover ~ .content .slider__controls .controls__label:nth-of-type(4),
#slide5:checked:hover ~ .content .slider__controls .controls__label:nth-of-type(5){
  border-color: #ffffff;
}

.controls__item {
  width: 1.1rem;
  height: 1.1rem;
  padding: 1.6rem 1rem;
}

#slide1:checked ~ #slides .slider__slides {
  margin-left: 0;
}

#slide2:checked ~ #slides .slider__slides {
  margin-left: -100%;
}

#slide3:checked ~ #slides .slider__slides {
  margin-left: -200%;
}

#slide4:checked ~ #slides .slider__slides {
  margin-left: -300%;
}

#slide5:checked ~ #slides .slider__slides {
  margin-left: -400%;
}

#slide1:checked ~ .content #content .slides__text {
  margin-left: 0;
}

#slide2:checked ~ .content #content .slides__text {
  margin-left: -100%;
}

#slide3:checked ~ .content #content .slides__text {
  margin-left: -200%;
}

#slide4:checked ~ .content #content .slides__text {
  margin-left: -300%;
}

#slide5:checked ~ .content #content .slides__text {
  margin-left: -400%;
}

@media (max-width: 1440px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }

  .container {
    width: 95vw;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1.5rem;
  }

  .slide {
    height: 65vh;
    padding: 0.5rem;
  }

  .slide__img {
    max-width: 98%;
    max-height: 63vh;
  }

  .slide__text {
    width: 100%;
  }

  .slider__controls {
    align-self: center;
    height: 1.5rem;
    gap: 1rem;
    background: none;
  }

  .controls__label {
    width: 1.3rem;
    height: 1.3rem;
  }

  .controls__item {
    width: 1.3rem;
    height: 1.3rem;
    padding: 1.6rem 1rem;
  }
}
