* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  background-blend-mode: screen;
	background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
}

.slider {
  width: 100%;
}

.slider__slides {
  display: flex;
  width: 500%;
  height: 100%;
  transition: all 0.3s ease;
}

.slide {
  width: 20%;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  margin-bottom: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2rem 0.2rem rgba(34, 60, 80, 0.2) inset;
  border-radius: 1rem;
}

.slide__img {
  align-self: center;
  max-width: 95%;
  max-height: 80vh;
}